body {
    text-align: center;
    box-sizing: content-box;
}

hr {
    width: 100%;
}

#tab-buttons {
    width: 100%; /* Full width of the parent */
    margin: 0 auto; /* Center the container */
}

.button-class {
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-class:hover {
    transition: 0.6s;
}

.selected {
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    14% { transform: rotate(2.5deg); }
    28% { transform: rotate(5deg); }
    42% { transform: rotate(2.5deg); }
    56% { transform: rotate(0deg); }
    70% { transform: rotate(-2.5deg); }
    84% { transform: rotate(-5deg); }
    100% { transform: rotate(-2.5deg); }
}

.shake {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}
