#groups-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexible grid columns */
    gap: 10px; /* Space between containers */
    padding: 10px; /* Optional: Adds padding inside the container */
    width: 100%; /* Ensures it takes up the full width of the viewport */
    box-sizing: border-box; /* Prevents padding from adding to total width */
}

.group-container {
    border: 2px solid #ccc; /* Optional: Adds a border for clarity */
    padding: 10px; /* Optional: Adds padding inside each group */
}

.group-tabs-container {
    max-height: 200px; /* Adjust this to show the number of rows you want */
    overflow: scroll;
}

.tab-container {
    font-size: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    text-align: right;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: fixed;
    bottom: 10px; /* Distance from the bottom of the viewport */
    right: 10px; /* Distance from the right of the viewport */
    z-index: 1000; /* Ensures it stays on top if needed */
}
